<!-- Master Passengers Table -->
<div class="container my-4" style="max-width: 80%; height: 70vh;">
  <h1 class="mb-4">Master Passengers List</h1>

  <%= render 'passenger' %>

  <%= link_to 'New Passenger', new_passenger_path, class: "btn btn-success mt-3" %>
  <%= link_to 'Home Page', filter_rides_path, class: 'btn btn-secondary back-btn' %>
</div>