<!-- Master Passengers Table -->
<h1 class="mb-4">Master Passengers List</h1>

<%= render 'passenger' %>

<%= link_to 'New Passenger', new_passenger_path(return_url: request.fullpath), class: "btn btn-success mt-3" %>
