<!-- app/views/passengers/new.html.erb -->
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-10">

      <h1 class="mb-4 text-center">New Passenger</h1>

      <%= render 'form' %>

    </div>
  </div>
</div>
