<div id="<%= dom_id shift_template %>">
  <p>
    <strong>Shift type:</strong>
    <%= shift_template.shift_type %>
  </p>

  <p>
    <strong>Day of week:</strong>
    <%= shift_template.day_of_week %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= shift_template.driver_id %>
  </p>

</div>
