<div class="container my-4">
  <h1 class="mb-4">Drivers</h1>

  <!-- UI Buttons -->
  <% if current_user.dispatcher? || current_user.admin? %>
    <div class="mb-3">
      <%= link_to "New Driver", new_driver_path, class: "btn btn-primary" %>
    </div>
  <% end %>
  <%= render 'driver' %>

</div>
