<div class="container-fluid my-4">
  <h1 class="mb-4">Drivers</h1>

  <!-- UI Buttons -->
  <% if current_user.dispatcher? || current_user.admin? %>
    <div class="mb-3">
      <%= link_to "New Driver", new_driver_path, class: "btn btn-primary" %>
    </div>
  <% end %>
  <%= render 'driver' %>
   
  <% if @return_to_drivers_today_from_drivers_index.present? %>
    <div class="drivers-back-btn">
      <%= link_to "Back", @return_to_drivers_today_from_drivers_index, class: "btn btn-outline-secondary" %>
    </div>
  <% end %>

</div>
