/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* app/assets/stylesheets/application.css */

html, body {
    height: 100%;
    margin: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-wrapper {
    flex: 1;
}
.custom-header, .custom-footer {
    background-color: #003e29;
    color: white;
}

.app-logo {
    height: 60px;
    border-radius: 8px;
    transition: transform 0.2s ease, filter 0.2s ease;
  }
  
  .app-logo.white {
    filter: brightness(0) invert(1);
  }
  
  .app-logo.white:hover {
    filter: none;
  }

  .directories {
    display: flex;
    gap: 1.5rem;
  }

  .directories a {
    font-weight: 650;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease;
    padding-bottom: 0.4rem;
    border-bottom: 2px solid transparent;
  }
  
  .directories a:hover,
  .directories a.active {
    color: #cab2fb;
    border-bottom-color: #f8f8f8;
  }
