<!-- Rides History -->
<div class="container my-4" style="max-width: 80%; height: 70vh;">
  <h1 class="mb-4">Rides History</h1>

  <%= render 'ride' %>

  <%= link_to 'Add a ride', new_ride_path, class: "btn btn-success mt-3" %>
</div>

